{% extends "base.html" %}

{% block content %}
<div class="card">
    <h1>About The Project</h1>
    
    <div class="about-section">
        <h2>Project Overview</h2>
        <p>The Water-Consumption-Forecasting project is designed to help water resource managers, urban planners, and policymakers make informed decisions about water allocation and infrastructure development. By leveraging machine learning techniques, specifically Random Forest Regression, this application provides accurate forecasts of water requirements based on key demographic, industrial, and environmental factors.</p>
    </div>
    
</div>
{% endblock %}